{% extends "layout.html" %}
{% block title %} Pokémon Individual Value Calculator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Pokémon Individual Value Calculator</h1>
<div id="iv-calc-inputs">
    <div id="pokedex-number-container">
        <label for="pokedex-number">Pokédex #:</label>
        <input id="pokedex-number" type="number">
    </div>
    <div id="pokemon-name-container">
        <label for="pokemon-name">Name:</label>
        <input id="pokemon-name" type="text">
    </div>
    <div id="pokemon-level-container">
        <label for="pokemon-level">Level:</label>
        <input id="pokemon-level" type="number" min="1" max="100">
    </div>
    <div id="pokemon-nature-container">
        <label for="pokemon-nature">Nature:</label>
        <select name="pokemon-nature" id="pokemon-nature">
        {% for nature in natures %}
            <option value="{{ nature.name }}">{{ nature.name }}</option>
        {% endfor %}
        </select>
    </div>
    {% with tags, labels = (["hp", "atk", "def", "spatk", "spdef", "spd"], ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]) %}
    <div id="stats-container">
        <h2>Pokémon Stats</h2>
        {% for i in range(6) %}
            <div id="{{ tags[i] }}-stats-container">
                <label for="{{ tags[i] }}-stat">{{ labels[i] }}:</label>
                <input id="{{ tags[i] }}-stat" type="number" min="1">
            </div>
        {% endfor %}
    </div>
    <div id="evs-container">
        <h2>Pokémon EVs</h2>
        {% for i in range(6) %}
            <div id="{{ tags[i] }}-evs-container">
                <label for="{{ tags[i] }}-ev"> {{ labels[i] }} EV:</label>
                <input id="{{ tags[i] }}-ev" type="number" min="0" value="0">
            </div>
        {% endfor %}
    </div>
    {% endwith %}
</div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pokemon/iv_calc.js') }}"></script>
    {{ super() }}
{% endblock %}