{% extends "layout.html" %}
{% block title %} Pokémon Individual Value Calculator{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iv-calc.css') }}">
{% endblock %}
{% block content %}
<div class="iv-calc center">
    <h1>Pokémon IV Calculator</h1>
    <div class="misc-container">
        <div class="header"><h2>Species</h2></div>
        <div class="flex name-container">
            <div class="iv-calc-label name-label">
                <label for="name-search">Name:</label>
            </div>
            <div class="iv-calc-input name-input">
                <input id="name-search" class="name-search" type="text">
            </div>
            <div class="iv-calc-select name-select">
                <select id="name" class="name"></select>
            </div>
        </div>
        <div class="flex nature-container">
            <div class="iv-calc-label nature-label">
                <label for="nature">Nature:</label>
            </div>
            <div class="iv-calc-select nature-select">
                <select id="nature" class="nature">
                </select>
            </div>
            <div class="nature-helpful nature-descriptor">
            </div>
            <div class="nature-hindering nature-descriptor">
            </div>
        </div>
        <div class="flex characteristic-container">
            <div class="iv-calc-label characteristic-label">
                <label for="characteristic">Character:</label>
            </div>
            <div class="iv-calc-select characteristic-select">
                <select id="characteristic" class="characteristic">
                </select>
            </div>
        </div>
        <div class="flex form-container">
            <div class="iv-calc-label form-label">
                <label for="form">Form:</label>
            </div>
            <div class="iv-calc-select form-select">
                <select id="form" class="form">
                </select>
            </div>
        </div>
    </div>
    <div id="stats-io-grid" class="stats-io-grid flex">
        {% with tags, labels = (["hp", "atk", "def", "spatk", "spdef", "spd"], ["HP", "Atk", "Def", "SpAtk", "SpDef", "Spd"]) %}
        <div id="stats-input-grid" class="stats-input-grid flex">
            <div class="level-inputs-group">
                <div class="flex level-container">
                    <div class="center flex">
                        <div class="iv-calc-label level-label">
                            <label for="level">Level:</label>
                        </div>
                        <div class="iv-calc-input level-input">
                            <input class="level" id="level" type="number" min="1" max="100">
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="inputs-group stats-container">
                        <div class="header-container">
                            <div class="header">
                                <h2>Stats</h2>
                            </div>
                        </div>
                        {% for i in range(6) %}
                            <div  class="flex {{ tags[i] }}-stats-container">
                                <div class="iv-calc-label {{ tags[i] }}-stat-label-container stat-label">
                                    <label for="stats-{{ i }}">{{ labels[i] }}:</label>
                                </div>
                                <div class="stats-grid-input {{ tags[i] }}-stat-flex">
                                    <input id="stats-{{ i }}" type="number" min="1" class="stats-{{ i }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="inputs-group evs-container">
                        <div class="header-container">
                            <div class="header">
                                <h2>EVs</h2>
                            </div>
                        </div>
                        {% for i in range(6) %}
                            <div class="flex {{ tags[i] }}-evs-container">
                                <div class="iv-calc-label {{ tags[i] }}-ev-label-container">
                                    <label for="evs-{{ i }}">{{ labels[i] }}:</label>
                                </div>
                                <div class="stats-grid-input {{ tags[i] }}-ev-flex">
                                    <input id="evs-{{ i }}" type="number" min="0" max="255" value="0" class="evs-{{ i }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="add-level-inputs-container">
                    <button type="button" class="add-level-inputs-button">+Level</button>
                </div>
                <div class="remove-level-inputs-container">
                    <button type="button" class="remove-level-inputs-button">-Level</button>
                </div>
            </div>
            <div class="inputs-group iv-ests-container">
                <div class="header-container">
                    <div class="header">
                        <h2>IVs</h2>
                    </div>
                </div>
                {% for i in range(6) %}
                    <div class="flex {{ tags[i] }}-iv-est-container">
                        <div class="iv-calc-label {{ tags[i] }}-iv-est-label">
                            <label for="ivests-{{ i }}">{{ labels[i] }}:</label>
                        </div>
                        <div class="iv-calc-output {{ tags[i] }}-iv-est-container">
                            <input id="ivests-{{ i }}" type="text" class="ivests-{{ i }}" readonly>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pokemon/iv_estimator_model.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pokemon/iv_estimator_controller.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pokemon/iv_estimator.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/pokemon/test_iv_estimator.js') }}"></script> -->
    {{ super() }}
{% endblock %}