{% extends "layout.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="resume-block">
    <h1>Contact</h1>
    <div class="resume-block-content" id="resume-contact">
        <p>Email: <a href="mailto:mail@gudmundur.net">mail@gudmundur.net</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/pub/gudmundur-heimisson/7b/287/b81">Public Profile</a></p>
    </div>
</div>
<hr>
<div class="resume-block" id="tech-skills">
    <h1>Technical Skills</h1>
    <div class="resume-block-content">
        <p>Programming Languages: Matlab, Python (inc. SciPy), C++, C#, Java, SQL.</p>
        <p>Other: MS Excel, Linux, LaTeX, source control systems, Visual Studio, Eclipse.</p>
    </div>
</div>
<hr>
<div class="resume-block" id="pro-experience">
<h1>Professional Experience</h1>
<div class="resume-block-content">
    <h2>Allrecipes, Business Intelligence</h2>
    <div class="resume-subitem">
        <p class="employer-location">&mdash; Seattle, WA, USA</p>
        <!-- <p class="employer-description">Allrecipes, the world's largest digital food brand, inspires the world to discover and share the joy of home cooking.</p> -->
        <p class="job-title-duration">Business Analyst I, Advertiser Insights</p>
        <p class="job-description">Designed and implemented a program to find possibly misclassified recipes using Association Rule Learning (Market Basket Analysis) implemented in R and Python.</p>
    </div>
</div>
<div class="resume-block-content">
    <h2>Microsoft Corporation, Cloud Operations</h2>
    <div class="resume-subitem">
        <p class="employer-location">&mdash; Redmond, WA, USA</p>
        <!-- <p class="employer-description">Microsoft's mission is to create a family of devices and services for individuals and businesses that empower people around the globe at home, at work and on the go, for the activities they value most.</p> -->
        <p class="job-title-duration">Intern Software Development Engineer in Test</p>
        <p class="job-title-duration">Software Development Engineer in Test: 2014</p>
        <p class="job-description">I designed and implemented a web interface for constructing and executing simple queries against an Hadoop cluster, using ASP.NET, HiveML, C#, and Java.</p>
    </div>
</div>
<hr>
<div class="resume-block" id="research-experience">
    <h1>Research Experience</h1>
    <div class="resume-block-content">
        <h2>Scientific Computing Research Center</h2>
        <div class="resume-subitem">
            <p class="employer-location">&mdash; Rensselaer Polytechnic Institute, Troy, NY, USA</p>
            <!-- <p class="employer-description">The Scientific Computation Research Center (SCOREC) is focused on the development of reliable simulation technologies for engineers, scientists, medical professionals, and other practitioners.</p> -->
            <p class="job-title-duration">Undergraduate Research Assistant: School Year 2012-2013 </p>
            <p class="job-description">I was part of a project to investigate numerical methods to simulate dynamic earthquake rupture and wave propagation. I researched methods of constructing surface meshes from non-planar point clouds.</p>
        </div>
        <h2>Department of Mathematics and Statistics</h2>
        <div class="resume-subitem">
            <p class="employer-location">&mdash; University of Iceland, Reykjavik, Iceland</p>
            <!-- <p class="employer-description">The University of Iceland is a progressive educational and scientific institution, renowned in the global scientific community for its research.</p> -->
            <p class="job-title-duration">Undergraduate Research Assistant</p>
            <p class="job-description">I was part of a research group developing a system for computer-assisted education and research on education, both for in-class use and for remote learning.</p>
        </div>
    </div>
</div>
<hr>
<div class="resume-block" id="education">
    <h1>Education</h1>
    <div class="resume-block-content">
        <h2>Rensselaer Polytechnic Institute</h2>
        <div class="resume-subitem">
            <p class="employer-location">&mdash; Troy, NY, USA</p>
            <p class="employer-description">B.Sc. in <b>Mathematics</b> (August 2015, coursework complete)</p>
            <h3>Relevant Coursework and Tutoring:</h3>
            <ul>
                <li>Undergraduate Teaching Assistant for Calculus I</li>
                <li>Personal Tutor for Calculus I and II, Multivariable Calculus and Matrix Algebra, Advanced Calculus, and Foundations of Applied Math.</li>
                <li>Probability Theory and Applications.</li>
                <li>Mathematical Statistics.</li>
                <li>Mathematical Models of Operations Research.</li>
                <li>Combinatorial Optimization and Integer Programming (Graduate).</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}