html {
    font-size: 100%;
}

body {
    background: none repeat scroll 0 0 #0072C6;
    max-width: auto;
    margin:  auto auto;
    padding: auto auto;
    font-family: 'Georgia', sans-serif;
}

footer {
    margin: auto auto;
}

footer a {
    color: rgba(0,0,0, 0.5);
    text-decoration: none;
}

/* Menu styles */
#menu-wrapper {
    background-color: #F0F0F0;
    border-radius: auto auto auto auto;
    /*position: relative;*/
    overflow: auto;
}

nav#main-menu li {
    float: left;
}

nav#main-menu li a {
    border: auto solid transparent;
    display: block;
    text-decoration: none;
    color: #000;
    padding: auto auto 0 auto;
}

nav#main-menu li a:hover {
    border: solid rgba(0,0,0, 0.5);
}

nav#main-menu ul {
}

nav ul, nav ol {
    margin: auto;
    padding-left: auto;
    float: left;
    list-style: none outside none;
}

/* Content styles */
#container {

}

#content-wrapper {
    background-color: #fff;
    border-radius: auto;
    position: relative;
    padding: auto;
    overflow: auto;
}

#content {
    justify-content: left;
    overflow: auto;
}

#content p {
    margin-bottom: auto;
    margin-top: auto;
}

div#resume-pdf-notice {
    
}

div.resume-block {
    margin-bottom: auto;
}

div.resume-block #resume-contact p {
    margin-top: auto;
    margin-bottom: auto;
}

div.resume-block #tech-skills p {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}

h2 {
    margin-bottom: auto;
    margin-top: auto;
}

h3 {
    margin-top: auto;
    margin-bottom: auto;
}

div.resume-block div.resume-block-content {
    margin-left: auto;
}

div.resume-block div.resume-block-content div.resume-subitem {
    margin-left: auto;
}

div.resume-block div.resume-block-content div.resume-subitem p {
    margin-top: auto;
    margin-bottom: auto;
}

div.resume-block div.resume-block-content p.employer-description {
    font-style: italic;
}

div.resume-block div.resume-block-content p.job-title-duration {
    font-weight: bold;
}

div.resume-block div.resume-block-content p.job-description {
    
}

div#education ul {
    margin-top: auto;
}

canvas#KDE-canvas {
    width:100%; 
}

canvas#K-canvas {
    display: block;
}

div#K-container {
    margin-bottom: auto;
}

div#PDF-container {
    margin-bottom: auto;
}

div#h-container {
    margin-bottom: auto;
}

div#n-container {
    margin-bottom: auto;
}

input#h-value {
    width: auto;
}

input#n-value {
    width: auto;
}

select#K-func {
    width: auto;
}

select#PDF-select {
    width: auto;
}

div#K-container label{
    margin-bottom: auto;
}

div#K-container {
    margin-bottom: auto;
}