{% extends "layout.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume.css') }}">
{% endblock %}
{% block content %}
<div id="sidebar" class="sidebar">
    <div id="contact" class="resume-block">
        <div class="resume-block-content" id="resume-contact">
            <h1>Contact</h1>
            <div class="resume-content">Email: <a href="mailto:mail@gudmundur.net">mail@gudmundur.net</a></div>
            <div class="resume-content">LinkedIn: <a href="https://www.linkedin.com/pub/gudmundur-heimisson/7b/287/b81">Public Profile</a></div>
        </div>
    </div>
    <div class="resume-block" id="tech-skills">
        <div class="resume-block-content">
            <h1>Technical Skills</h1>
            <h3>Programming Languages</h3>
            <div class="resume-content">Matlab, Python (inc. SciPy), C++, C#, Java, SQL.</div>
            <h3>Environments</h3>
            <div class="resume-content">MS Excel, Linux, LaTeX, source control systems, Visual Studio, Eclipse.</div>
        </div>
    </div>
</div>
<div id="main-content" class="main-content">
    <div class="resume-block" id="pro-experience">
        <div class="resume-block-content">
            <h1>Professional Experience</h1>
            <div class="employer"><h2>Allrecipes, Business Intelligence</h2></div>
            <div class="employer-location"><div><!-- &mdash; --> Seattle, WA, USA</div></div>
            <!-- <div class="employer-description">Allrecipes, the world's largest digital food brand, inspires the world to discover and share the joy of home cooking.</div> -->
            <div class="job-title-duration">Business Analyst I, Advertiser Insights</div>
            <div class="job-description">Designed and implemented a program to find possibly misclassified recipes using Association Rule Learning (Market Basket Analysis) implemented in R and Python.</div>
        </div>
        <div class="resume-block-content">
            <div class="employer"><h2>Microsoft Corporation, Cloud Operations</h2></div>
            <div class="employer-location"><div><!-- &mdash; --> Redmond, WA, USA</div></div>
            <!-- <div class="employer-description">Microsoft's mission is to create a family of devices and services for individuals and businesses that empower people around the globe at home, at work and on the go, for the activities they value most.</div> -->
            <div class="job-title-duration">Intern Software Development Engineer in Test</div>
            <div class="job-title-duration">Software Development Engineer in Test</div>
            <div class="job-description">Designed and implemented a web interface for constructing and executing simple queries against an Hadoop cluster, using ASP.NET, HiveML, C#, and Java.</div>
        </div>
    </div>
    <div class="resume-block" id="research-experience">
        <div class="resume-block-content">
            <h1>Research Experience</h1>
            <div class="employer"><h2>Scientific Computing Research Center</h2></div>
            <div class="employer-location"><div><!-- &mdash; --> Rensselaer Polytechnic Institute, Troy, NY, USA</div></div>
            <!-- <div class="employer-description">The Scientific Computation Research Center (SCOREC) is focused on the development of reliable simulation technologies for engineers, scientists, medical professionals, and other practitioners.</div> -->
            <div class="job-title-duration">Undergraduate Research Assistant</div>
            <div class="job-description">Part of a project to investigate numerical methods to simulate dynamic earthquake rupture and wave propagation. Researched methods of constructing surface meshes from non-planar point clouds.</div>
        </div>
        <div class="resume-block-content">
            <div class="employer"><h2>Department of Mathematics and Statistics</h2></div>
            <div class="employer-location"><div><!-- &mdash; --> University of Iceland, Reykjavik, Iceland</div></div>
            <!-- <div class="employer-description">The University of Iceland is a progressive educational and scientific institution, renowned in the global scientific community for its research.</div> -->
            <div class="job-title-duration">Undergraduate Research Assistant</div>
            <div class="job-description">Part of a research group developing a system for computer-assisted education and research on education, both for in-class use and for remote learning.</div>
        </div>
    </div>
    <div class="resume-block" id="education">
        <div class="resume-block-content">
            <h1>Education</h1>
            <div class="employer"><h2>Rensselaer Polytechnic Institute</h2></div>
            <div class="employer-location"><div><!-- &mdash; --> Troy, NY, USA</div></div>
            <div class="employer-description">B.Sc. in <strong>Mathematics</strong></div>
            <h3>Relevant Coursework and Tutoring:</h3>
            <ul>
                <li>Undergraduate Teaching Assistant for Calculus I</li>
                <li>Personal Tutor for Calculus I and II, Multivariable Calculus and Matrix Algebra, Advanced Calculus, and Foundations of Applied Math.</li>
                <li>Probability Theory and Applications.</li>
                <li>Mathematical Statistics.</li>
                <li>Mathematical Models of Operations Research.</li>
                <li>Combinatorial Optimization and Integer Programming (Graduate).</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}