h1 {
    width: 100%;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.header-container {
    display: flex;
}

.header {
    margin: auto;
}

/* Styles for all inputs */
.iv-calc-label {
    width: 4rem;
    margin-right: 0.3rem;
    text-align: right;
}

.iv-calc-input {
    width: 4rem;
}

.iv-calc-input input {
    width: 100%;
}

.stats-grid-input {
    width: 3.5rem;
}

.stats-grid-input input {
    width: 75%;
}

.iv-calc-output {
    width: 3.5rem;
}

.iv-calc-output input {
    width: 100%;
}


.level-inputs-group {
    margin-top: 1rem;
}

.level-inputs-group + .level-inputs-group  .iv-calc-label {
    display: none;
}

.level-label {
    width: auto;
}

.level-label {
    float: none;
}

.level-input {
    width: 3rem;
}

.remove-level-inputs-button {
    display: none;
}

.nature-descriptor {
    margin-left: 0.3rem;
    font-size: 0.8rem;
    margin-top: 0.1rem;
}

/* Styles for misc. inputs */
.misc-container {
    width: 100%;
}

.misc-container .iv-calc-label {
    width: 5rem;
}

.misc-container .name-label {
    margin-right: 0.3rem;
}

.misc-container .name-input {
    width: 4rem;
    max-width: 33.33%;
    margin-right: 1rem;
}

.misc-container .name-select select {

}

/* Styles for stats input */
.stats-container {

}

/* Styles for EV input */
.evs-container .iv-calc-label {
    display: none;
}

/* Styles for IV output */
.iv-ests-container .iv-calc-label {
    display: none;
}

.iv-ests-container {
    margin-top: 2.3rem;
    padding-left: 0.6rem;
}

/*
@media screen and (min-width: 300px) {
    html {
        font-size: 120%;
    }

    .inputs-group {
        max-width: 50%;
    }

    .iv-ests-container .iv-calc-label {
        display: none;
    }
}
/*