h1 {
    width: 100%;
}

h2 {
    /*width: 100%;*/
    margin-bottom: 0.3rem;
}

.header {
}

/* Styles for all inputs */
#iv-calc {
    display: flex;
    flex-flow: row wrap;
}

.iv-calc-label {
    width: 4rem;
    margin-right: 0.3rem;
}

#iv-calc label {
    float: right;
}

.iv-calc-input {
    width: 3rem;
    margin-right: 0.3rem;
}

.iv-calc-input input {
    width: 100%;
}

.iv-calc-output {
    width: 5rem;
    margin-right: 0.3rem;
}

.iv-calc-output input {
    width: 100%;
}

.inputs-group {
    /*width: 100%;*/
}

.input-container {
    display: flex;
    /*flex-flow: row wrap;*/
    /*width: 100%;*/
}

/* Styles for misc. inputs */
#misc-container {
    width: 100%;
}

#misc-container div {
}

#misc-container .iv-calc-label {
}

#misc-container .iv-calc-input {
}

#misc-container #name-label {
    /*max-width: 33.33%;*/
    margin-right: 0.3rem;
}

#misc-container #name-input {
    width: 4rem;
    max-width: 33.33%;
    margin-right: 0.5rem;
}

#misc-container #name-select {
    /*max-width: 33.33%;*/
}

#misc-container #name-select select {

}

/* Styles for stats input */
#stats-container {

}

#stats-container .iv-calc-label {
}

/* Styles for EV input */
#evs-container {
}

#evs-container .iv-calc-label {
    display: none;
}

/* Styles for IV output */
#iv-ests-container .iv-calc-label {
    display: none;
}

#iv-ests-container {
}

/*@media screen and (min-width: 300px) {
    html {
        font-size: 120%;
    }

    .inputs-group {
        max-width: 50%;
    }

    #iv-ests-container .iv-calc-label {
        display: none;
    }
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 800px) {
}
/*