h1 {
    width: 100%;
}

#KDE-canvas {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.button {

}

.range {
    width: 90%;
    outline: 0;
    padding-right: 0.5rem;
}

.range:focus {
    outline: 0;
    border: 0;
}

.range:hover {
    border: 0;
    outline: 0;
}

.range:active {
    outline: 0;
    border: 0;
}

.range::-moz-focus-outer {
    border: 0;
    outline: 0;
}

canvas {
    clear:right;
    margin-bottom: 1rem;
}

#K-select {
    width: 100%;
}

#K-container {
    width: 100%;
}

#content div {
    margin-bottom: 0.3rem;
}