/* Styles for all inputs */
div#iv-calc {
}

div#iv-calc .iv-calc-label {
    float: left;
    overflow: auto;
    width: auto;
}

div#iv-calc .long-label {
    visibility: hidden;
}

div#iv-calc label {
    float: right;
    overflow: auto;
    width: 100%;
}

div#iv-calc .iv-calc-input {
    width: auto;
}

div#iv-calc input {
    width: 100%;
}


/* Styles for misc. inputs */
div#misc-container .iv-calc-label {
}

div#misc-container .iv-calc-input {
}

div#misc-container div#name-input {

}

div#misc-container select#name {
}

/* Styles for stats input */
div#stats-container {

}

div#stats-container .iv-calc-label {
}

/* Styles for EV input */
div#evs-container {
}

div#evs-container .iv-calc-label {
}

/* Styles for IV output */
div#iv-ests-container .iv-calc-label {
}

div#iv-ests-container {
}