div#iv-calc {
    overflow: auto;
}

div#iv-calc input {
    width: 75px;
    clear: right;
    overflow:auto;
}

div#iv-calc label {
    float: right;
    margin-right: 5px;
    overflow:auto;
}

div#iv-calc .iv-calc-label {
    float: left;
    overflow:auto;
}

div#misc-container .iv-calc-label {
    width: 70px;
}

div#misc-container div#name-input {
    float:left;
    overflow:auto;
}

div#stats-container {
    float:left;
    overflow: auto;
    width:170px;
}

div#stats-container .iv-calc-label {
    width: 85px;
}

div#evs-container {
    float:left;
    overflow:auto;
}

div#evs-container .iv-calc-label {
    width: 110px;
    /*visibility: hidden;*/
}

div#iv-ests-container .iv-calc-label {
    width: 105px;
}

div#iv-ests-container {
    float:left;
    overflow:auto;
}