.sidebar {
}

.resume-block {
    overflow: auto;
    margin: 0 0 1rem 0;
    max-width: 600px;
}

.resume-block-content {
    overflow: auto;
}

.resume-block-content h1 {
    text-decoration: underline;
}

.resume-block-content .resume-content {
    margin: 0.3rem 0 0 1rem;
}

.resume-block-content .employer {
    margin-bottom: 0.3rem;
}

.resume-block-content .employer-location {
    font-style: italic;
    overflow: auto;
    max-width: 400px;
    /*margin: 0 0 0.3rem 2rem;*/
}

.resume-block-content .employer-location div {
    float: right;
    max-width: 70%;
}

.resume-block-content .job-title-duration {
    font-weight: bold;
    margin: 0.3rem 0 0 1rem;
}

.resume-block-content .job-description {
    margin: 0.3rem 0 0 1rem;
}